:root{
--color0: #ED7B37;
--color1: #747474;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}    
caption label input{
    color: var(--color1);
    background-color: black;
    text-align: end;
    font-size: 6vh;
    height: 7vh;
    width: 100%
}
#L1{
    color: white;
}
table{
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
table tr{
    font-size: 6vh;
}table th{
    padding: 3vh;
    color: var(--color0);    
}
table td{
    color: white;
}
.orange{
    padding: 3vh;
    color: var(--color0);
}
div{
    height: 1vh;
    width: 1vh;
}
#circle{
    color: white;
    background-color: var(--color0);
    border-radius: 10vh;
}