:root
--color0 #ED7B37
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
table{
    margin-top: 50vh;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
table tr{
    font-size: 10vh;
}table th{
    padding: 3vh;
    color: #ED7B37;    
}
table td{
    color: white;
}
.orange{
    padding: 3vh;
    color: #ED7B37;
}
#circle div{
    padding: 1vh;
    color: white;
}